# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google keys and service account
stella-extension-a18d5cdd9a19.json
stella-extension-a18d5cdd9a19.json:Zone.Identifier
server/service-account.json

# Server
server/node_modules
server/.env

# Extension
extension/node_modules
